.bathhouse
	background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../img/bathhouse/bathhouse.jpg') no-repeat
	background-size: cover
	padding-bottom: 90px
	&-features
		padding: 40px 0
	&-headline
		display: flex
		flex-direction: column
	&-title
		text-align: center
		color: #ffffff
		line-height: 80px
		text-transform: uppercase
		font-size: 110px
		margin: 100px 0 0px 0
		font-family: 'Franklin Gothic Heavy'
		position: relative
		z-index: 1
		&__two
			font-size: 48px
			text-align: center
			color: #ffffff
			text-transform: uppercase		
			font-family: 'Franklin Gothic Heavy'	
			margin-top: 30px
			margin-bottom: 20px
			&:after
				display: block
				margin: auto
				content: ''
				width: 580px
				margin-top: 15px
				border-bottom: 1px solid #fff
				background: #ffffff
	&-subtitle
		font-family: 'Open sans'
		color: #ffffff
		max-width: 770px
		margin: auto
		margin-bottom: 40px
		line-height: 26px
		font-size: 19px
		text-align: center
	&-pictures
		position: relative
		height: 100%
		width: 100%
		&-left
			position: absolute
			left: 0
			top: -79px
		&-right
			position: absolute
			right: 0
			top: -121px
	&-wrap                         
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		&__item
			flex-basis: 31%
			text-align: center
		&__title
			text-transform: uppercase
			font-size: 17px
		&__text
			font-size: 14px
			line-height: 21px
	&-gallery
		padding-top: 70px
		padding-bottom: 70px
		background-color: #f7f9f9
	&-column                        /* оформление слайдера */
		display: block
		position: relative
		&__navi
			display: block
			position: relative
	&-single
		margin-bottom: 20px
		cursor: pointer
		&__leftarrow
			display: none
		&__rightarrow
			display: none
		&__item
			outline: none	
	&-single img
		display: block
		max-width: 100%
	&-nav
		margin: 0 20px
		display: block
		&__item
			outline: none
			margin: 0 7px
			cursor: pointer
		&__img
			width: 100%
			outline: none
	&-left-arrow
		position: absolute
		outline: none
		left: 5px
		bottom: 35px
		&:hover
			cursor: pointer
	&-right-arrow
		position: absolute
		outline: none
		right: 5px
		bottom: 35px
		&:hover
			cursor: pointer
	&-post                            // оформление поста
		padding: 40px 0
		&__title
			font-size: 30px
			+bold
		&__text
			font-size: 16px
			line-height: 25px
			text-align: justify
	&-contact                         // оформление контактов и формы
		background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../img/bathhouse/bath-form-img.jpg') no-repeat
		background-size: cover
		padding: 30px 0
		&__title
			font-size: 48px
			text-transform: uppercase
			color: #ffffff
			font-family: 'Franklin Gothic Heavy'
			text-align: center
		&__features
			display: flex
			justify-content: space-between
		&__item
			flex-basis: 30%
			text-align: center
		&__feat
			text-transform: uppercase
			color: #ffffff
		&__text
			font-size: 14px
			line-height: 21px
			color: #ffffff
	&-form
		margin-top: 50px
		&__bottombtn
			text-align: center
			margin-top: 30px
			margin-bottom: 30px
#massage-error
	margin-top: 3px
	font-size: 12px
	color: #ffffff		
	+bold
.bath
	&-form
		display: flex
		justify-content: space-between
		margin-bottom: 15px
		position: relative
	&-form #username-error
		position: absolute
		left: 0px
		top: -20px
		font-size: 12px
		color: #ffffff
		+bold
	&-form #phone-error
		position: absolute
		left: 385px
		top: -20px
		font-size: 12px
		color: #ffffff
		+bold
	&-form #email-error
		position: absolute
		right: 281px
		top: -20px
		font-size: 12px
		color: #ffffff
		+bold
	&-input
		width: 32.6%
		height: 53px
		padding-left: 38px
		border: none
		outline: none
		font-size: 12px
		&__name
			background: url(../img/form/form-name.png) center left no-repeat
			background-color: #fff
			background-position: 12px
		&__phone
			background: url(../img/form/form-phone.png) center left no-repeat
			background-color: #fff
			background-position: 12px
		&__email
			background: url(../img/form/form-email.png) center left no-repeat
			background-color: #fff
			background-position: 12px
	&-textarea
		display: flex
		width: 100%
		resize: none
		padding-left: 40px
	&-input
		&__textarea
			flex-basis: 100%
			height: 95px
			padding-top: 20px
			padding-left: 40px
			border: none
			font-size: 12px
			background: url(../img/form/form-text.png) no-repeat
			background-color: #fff
			background-position: 15px 16px
@media (max-width: 1400px)   // 1400  обработка медиа запросов
	.bathhouse
		&-pictures-left
			display: none
		&-pictures-right
			display: none
@media (max-width: 1200px)   // 1200
	.bathhouse
		// height: 530px
		&-title
			line-height: 80px
			font-size: 90px
			margin: 80px 0 0px 0
			&__two
				font-size: 36px
				text-align: center
				margin-top: 30px
				margin-bottom: 20px
				&:after
					width: 580px
					margin-top: 15px
		&-subtitle
			max-width: 770px
			margin-bottom: 40px
			line-height: 26px
			font-size: 16px
@media (max-width: 1000px)   // 1000
	.bathhouse
		padding-bottom: 60px
		&-contact
			&__title
				font-size: 40px
@media (max-width: 992px)   // 992
	.bathhouse
		&-title
			line-height: 80px
			font-size: 70px
			margin: 80px 0 0px 0
			&__two
				font-size: 34px
				text-align: center
				margin-top: 30px
				margin-bottom: 20px
				&:after
					width: 500px
					margin-top: 15px
		&-subtitle
			max-width: 770px
			margin-bottom: 40px
			line-height: 26px
			font-size: 16px
		&-wrap                         
			&__item
				flex-basis: 50%
				max-width: 350px
	.bath
		&-form
			display: flex
			justify-content: space-between
			flex-direction: column
			margin-bottom: 15px
		&-form #phone-error
			left: 0
			top: 59px
		&-form #email-error
			left: 0
			top: 140px
		&-input
			width: 100%
			margin-bottom: 25px
		&-textarea
			display: flex
		&-input
			&__textarea
				flex-basis: 100%
				height: 95px
				padding-left: 40px
@media (max-width: 768px)   // 768
	.bathhouse
		&-title
			line-height: 80px
			font-size: 64px
			margin: 70px 0 0px 0
			&__two
				font-size: 30px
				text-align: center
				margin-top: 20px
				margin-bottom: 20px
				&:after
					width: 500px
					margin-top: 15px
		&-subtitle
			max-width: 670px
			margin-bottom: 40px
			line-height: 26px
			font-size: 14px
		&-contact
			&__features
				flex-direction: column
			&__item
				flex-basis: 100%
				margin: auto
			&__text
				max-width: 400px
@media (max-width: 680px)   // 680
	.bathhouse
		&-single
			margin-bottom: 0
			margin-left: 20px
			margin-right: 20px
			&__leftarrow
				display: block
				position: absolute
				left: 0
				bottom: 40%
			&__rightarrow
				display: block
				position: absolute
				right: 0
				bottom: 40%
		&-nav
			display: none
		&-left-arrow
			display: none
		&-right-arrow
			display: none
@media (max-width: 652px)   // 652
	.bathhouse
		&-title
			line-height: 60px
			font-size: 60px
			margin: 80px 0 0px 0
			&__two
				font-size: 30px
				text-align: center
				&:after
					width: 450px
					margin-top: 15px
		&-subtitle
			max-width: 610px
			margin-bottom: 40px
			line-height: 26px
		&-wrap                         
			&__item
				flex-basis: 100%
				max-width: 380px
				margin: auto
@media (max-width: 600px)   // 600
	.bathhouse
		&-title
			line-height: 50px
			font-size: 50px
			margin: 60px 0 0px 0
			&__two
				font-size: 24px
				&:after
					max-width: 400px
					margin-top: 15px
		&-subtitle
				max-width: 450px
				margin-bottom: 40px
				line-height: 26px
				font-size: 14px
@media (max-width: 525px)   // 525
	.bathhouse
		&-title
			line-height: 50px
			font-size: 40px
			margin: 60px 0 0px 0
			&__two
				font-size: 20px
				&:after
					width: 250px
					margin-top: 15px
		&-subtitle
				max-width: 450px
				margin-bottom: 40px
				line-height: 26px
				font-size: 14px

