@font-face {
	font-display: swap;
	font-family: 'Open Sans';
	src: local('Open Sans'),
		url("../fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
	font-display: swap;
	font-family: 'Franklin Gothic Heavy';
	src: local('Franklin Gothic Heavy'),
		url("../fonts/FRAHV.TTF") format("truetype");
}
@font-face {
	font-display: swap;
	font-family: 'Roboto';
	src: local('Roboto'),
		// url("../fonts/Roboto-Thin.ttf") format("truetype"),
		// url("../fonts/Roboto-Light.ttf") format("truetype"),
		url("../fonts/Roboto-Regular.ttf") format("truetype");
		// url("../fonts/Roboto-Medium.ttf") format("truetype"),
		// url("../fonts/Roboto-Bold.ttf") format("truetype");
}
// @font-face {
// 	font-display: swap;
// 	font-family: 'Roboto';
// 	src: local('Roboto'),
// 		url("../fonts/Roboto-Light.ttf") format("truetype");
// }
// @font-face {
// 	font-display: swap;
// 	font-family: 'Roboto';
// 	src: local('Roboto'),
// 		url("../fonts/Roboto-Regular.ttf") format("truetype");
// }
// @font-face {
// 	font-display: swap;
// 	font-family: 'Roboto';
// 	src: local('Roboto'),
// 		url("../fonts/Roboto-Medium.ttf") format("truetype");
// }
// @font-face {
// 	font-display: swap;
// 	font-family: 'Roboto';
// 	src: local('Roboto'),
// 		url("../fonts/Roboto-Bold.ttf") format("truetype");
// }


@mixin thin {
	font-family: 'Roboto', serif;
	font-weight: 100;
}
@mixin medium {
	font-family: 'Roboto', serif;
	font-weight: 300;
}
@mixin reg {
	font-family: 'Roboto', serif;
	font-weight: 400;
}
@mixin bold {
	font-family: 'Roboto', serif;
	font-weight: 700;
}