@font-face {
	font-display: swap;
	font-family: 'Open Sans';
	src: local('Open Sans'),
		url("../fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
	font-display: swap;
	font-family: 'Franklin Gothic Heavy';
	src: local('Franklin Gothic Heavy'),
		url("../fonts/FRAHV.TTF") format("truetype");
}