.left-arrow
	position: relative
	left: 5px
	top: 25px
	&:hover
		cursor: pointer
.right-arrow
	position: relative
	right: 5px
	top: 25px
	&:hover
		cursor: pointer
.nav-img
	max-width: 130px
.rooms
	&-wrap
		display: flex
	&-pictures
		background-color: #f5555f
		display: block
		width: 400px
		height: 300px
		flex-basis: 40%
	&-description
		padding-left: 30px
		padding-top: 10px
		flex-basis: 60%
		&:before
			content: ''
			display: block
			width: 40px
			height: 2px
			background-color: #cccccc
		&__heading
			font-size: 18px
			color: #3fc380
		&__text
			font-size: 14px
			line-height: 22px
	&-single
		margin-bottom: 10px
	&-nav
		display: flex
		justify-content: space-between
		&__item
			height: 80px
	&-tag
		display: block
		font-size: 14px
		line-height: 22px
		&__star
			display: block
			font-size: 12px
			line-height: 22px
			color: #959595
			margin-bottom: 25px
			



// .slider-for
// 	width: 500px
// 	height: 250px
// .slider-nav
// 	width: 500px
// 	height: 85px
