.footer
	padding: 30px 0
	background-color: #393939
	height: 550px
	&-nav
		&-box
			display: flex
			justify-content: space-between
			align-items: center
			margin-bottom: 30px	
		&-tel
			font-size: 19px
			text-decoration: none
			display: inline-block
			color: #ffffff
	&-menu
		&-list
			display: flex
			padding-left: 0
			&__item
				text-transform: uppercase
				font-family: 'Open sans'
				list-style: none
				padding: 10px 15px
				font-size: 12px
				&:last-child
					padding-right: 5px
			&__item a
				text-decoration: none
				color: #ffffff
				&:hover
					font-weight: 700
					color: #3fc380
					cursor: pointer
	&-geotag
		display: flex
		flex-direction: column
		justify-content: flex-end
		&-img
			margin-right: -80px
		&-adress
			width: 160px
			font-size: 12px
			color: #ffffff
			line-height: 12px
			margin-bottom: 0				
.copyright
	margin: 30px auto
	max-width: 765px
	color: #9c9c9c
	text-align: center
	font-size: 11px
	line-height: 17px
@media (max-width: 1200px)   // 1200
	.footer
		&-nav
			&-logo
				display: none
	.footer
		&-menu
			&-list
				padding-left: 5px
				flex-wrap: wrap
		&-geotag
			&-img
				display: none	
	.copyright
		max-width: 680px
@media (max-width: 768px)   // 768
	.footer
		&-nav
			&-box
		&-menu
			&-list
				&__item
					flex-basis: 50%
	.copyright
		max-width: 580px
@media (max-width: 652px)   // 652
	.footer
		&-nav
			&-box
		&-menu
			&-list
				&__item
					flex-basis: 90%
	.copyright
		max-width: 510px
@media (max-width: 568px)   // 568
	.footer
		&-nav
			&-box
				display: block
		&-menu
			&-list
				&__item
					flex-basis: 50%	
		&-geotag
			margin-left: 20px
	.copyright
		max-width: 400px
@media (max-width: 480px)   // 480
	.footer
		&-menu
			&-list
				display: block
	.copyright
		max-width: 300px
@media (max-width: 400px)   // 400
	.copyright
		max-width: 250px