.nav
	&-box
		display: flex
		padding: 13px 0
		align-items: center
	&-logo
		margin-right: 70px
.menu
	&-list
		display: flex
		padding-left: 0
		&__item
			align-items: center
			list-style: none
			text-transform: uppercase
			font-family: 'Open sans'
			font-size: 13px
			border-right: #dfdfdf 1px dotted
			padding: 10px 20px
			&:last-child
				border-right: none
		&__item a
			text-decoration: none
			color: #2d2d2d
			&:hover
				font-weight: 700
				color: #3fc380
				cursor: pointer
.hero
	background: url('../img/header-bg.jpg') no-repeat
	background-size: cover
	height: 700px
	&-headline
		display: flex
		flex-direction: column
.headline
	text-align: center
	color: #ffffff
	text-transform: uppercase
	font-size: 170px
	margin: 130px 0 30px 0
	font-family: 'Franklin Gothic Heavy'
	position: relative
	z-index: 1
	&:after
		display: block
		margin: auto
		content: ''
		width: 580px
		margin-top: 5px
		border-bottom: 1px solid #fff
		background: #ffffff
	&-subtitle
		font-family: 'Open sans'
		color: #ffffff
		max-width: 770px
		margin: auto
		margin-bottom: 25px
		line-height: 26px
		font-size: 19px
		text-align: center
	&-button
		margin: auto
.button
	&-hero
		width: 194px
		height: 50px
		background: none
		border: 2px solid #ffffff
		margin: auto
.pictures
	position: relative
	height: 100%
	width: 100%
	&-eagle
		position: absolute
		z-index: 0
		right: 390px
		top: -600px
	&-left
		position: absolute
		left: 0
		top: 17px
	&-right
		position: absolute
		right: 0
		top: -25px
@media (max-width: 1600px)	// Медиа запросы
	.pictures
		&-eagle
			right: 290px
@media (max-width: 1350px)	
	.pictures
		&-eagle
			right: 190px
@media (max-width: 1200px)   // 1200
	.nav
		&-logo
			margin-right: 35px
	.hero
		height: 600px
	.headline
		font-size: 120px
		&-subtitle
			font-size: 16px
			max-width: 650px
	.pictures
		&-eagle
			display: none
		&-left
			display: none
		&-right
			display: none
@media (max-width: 992px)   // 992
	.menu
		margin: auto
	.nav
		&-logo
			display: none
@media (max-width: 768px)   // 768
	.nav
		&-box
			padding: 0
	.menu
		&-list
			flex-wrap: wrap
			&__item
				font-size: 11px
				padding: 10px 15px	
	.hero
		height: 500px
	.headline
		font-size: 80px
		margin-top: 110px
		margin-bottom: 15px
		&:after
			width: 380px
		&-subtitle
			font-size: 14px
			max-width: 500px
@media (max-width: 620px)   // 620 
	.menu
		&-list
			&__item
				font-size: 11px
				padding: 8px 5px
@media (max-width: 576px)   // 576 
	.menu
		&-list
			&__item
				font-size: 11px
				padding: 8px 5px	
	.hero
		height: 400px
	.headline
		font-size: 65px
		margin-top: 85px
		margin-bottom: 15px
		&:after
			width: 280px
		&-subtitle
			font-size: 13px
			max-width: 400px
			line-height: 20px
@media (max-width: 520px)  // 520 
	.menu
		&-list
			max-width: 240px
	.hero
		height: 350px
	.headline
		font-size: 55px
		margin-top: 60px
		margin-bottom: 15px
		&:after
			width: 240px
		&-subtitle
			font-size: 11px
			max-width: 300px
			line-height: 18px
@media (max-width: 350px)  // 350 
	.headline
		font-size: 45px
		margin-top: 60px
		margin-bottom: 15px
		&:after
			width: 220px
		&-subtitle
			font-size: 11px
			max-width: 280px
			line-height: 16px			