.top
	&-nav
		background-color: #f7f9f9
		&-box
			display: flex
			align-items: center
			justify-content: space-between
			padding: 13px 0
			position: relative
		&-tel
			font-size: 19px
			text-decoration: none
			display: inline-block
			color: #2a2a2a
			+bold
	&-menu
		&__btn
			display: none
			width: 45px
			height: 35px
			position: absolute
			right: 0
			top: 0
			margin-top: 20px
		&-list
			display: flex
			padding-left: 0
			&__item
				align-items: center
				list-style: none
				padding: 10px 20px
				text-transform: uppercase
				font-family: 'Open sans'
				font-size: 13px
				border-right: #dfdfdf 1px dotted
				&:last-child
					border-right: none
			&__item a
				text-decoration: none
				color: #2d2d2d
				&:hover
					color: #3fc380
					cursor: pointer
	&-geotag
		display: flex	
		flex-direction: column
		justify-content: flex-end
		&-adress
			width: 160px
			font-size: 12px
			margin-bottom: 0
			line-height: 12px
			+bold
		&-img
			margin-right: -25px
@media (max-width: 1200px)   // 1200
	.top
		&-geotag
			display: none
		&-menu
			&-list
				flex-wrap: wrap
		&-geotag
			&-img
				display: none
@media (max-width: 992px)   // 992
	.top
		&-nav
			&-box
				flex-direction: column
				align-items: flex-start	
				padding-bottom: 20px	
		&-menu
			margin: auto
			&__btn
				display: block
			&-list
				display: block
				text-align: center
				margin-bottom: 0px
				&__item
					padding: 10px 0
					border-bottom: #dfdfdf 1px dotted
					border-right: none
					&:last-child
						border: none
				&__hide
					transition: all 0.5s ease
					display: none

